<div class="container"  >
  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px ; width: 500px; ">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>
  <h1>Contact us</h1>
<div class="row" style="float: left;" >
<div class="col-md-12 text-left">
  <ul class="list-unstyled mb-0">
      <li><h4><i class="fa fa-home  fa-2x"  aria-hidden="true"></i>
          Address</h4>
          <p style="color: grey;">123 Main Street, Anytown, CA 12345 – USA</p>
      </li>

      <li><h4><i class="fa fa-phone  fa-2x" aria-hidden="true"></i>Phone</h4>
          <p style="color: grey;">123 Main Street, Anytown, CA 12345 – USA</p>
      </li>

      <li>
        <h4><i class="fa fa-envelope" aria-hidden="true"></i>Email</h4>
        <p style="color: gray;">123 Main Street, Anytown, CA 12345 – USA</p>
      </li>
  </ul>
</div>
</div>
<!-- "col-md-12.col-xl-5.mx-auto.mb-4" -->
<div class= "col-md-3 " style="float: right;">
  <h1>Contact Us</h1>
  <div class="content">
    <form>

      <input matInput placeholder= "Enter Your Name" class="con" required><br><br>

        <input matInput placeholder="Enter your email"  class="con" required ><br><br>

        <input matInput placeholder="Subject" class="con" required><br><br>

        <textarea matInput placeholder="Textarea" required  class="con"  name="message5" ></textarea><br>

      <button mat-raised-button class="btn-custom">Send <i class="material-icons">
          send
        </i></button>
    </form>
  </div>
</div>
