<!--  start Main -->
<div class="text-center container  py-5">
    <div class="row ">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <ul *ngFor="let  data of productdetails" class="list-unstyled mb-0">
                    <!--PRODUCT START  -->
                    <li>
                    <div class=" main col-lg-4 col-md-12 mb-4 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded ">
                            <img src="{{imgeurl + data.productImage[0]}}" alt="image 1"
                                class="product-img " style="width: 200px; height: 200px;">
                            <a></a>
                            <div class="card-body">
                                <div class="product-details p-2 m-2">
                                    <div class="d-flex justify-content-between mb-3">
                                        <h5 class="mt-0 mb-0">{{data.catogory}}</h5>

                                        <p>{{data.productInfo}}</p>
                                    </div>
                                    <div class="fw-semibold text-center">
                                        Price:- {{data.price}}
                                    </div>
                                </div>
                                <div class="product-rating">
                                    <div class="d-flex flex-row">
                                        <div class="text-warning text-centers mb-1 me-2">
                                            <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                            <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                            <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                            <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                        </div>
                                        <span>289</span>
                                    </div>
                                </div>
                                <div class="product-footer mt-1">
                                    <button type="button" class="btn btn-primary">Add to Cart</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    </li>
                    </ul>
                    <!-- FINISH PRODUCT -->



 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
 </button>
 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
</button>

            </div>
          </div>
       </div>
    </div>
</div>
<!-- finish  -->
