
<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let data of productdetails">
        <ng-template carouselSlide>
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <img src="{{imgeurl + data.productImage[0]}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="product-details p-2 m-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mt-0 mb-0">{{data.productName}}</h5>

                            <p>{{data.productInfo | srink}}</p>
                        </div>
                    </div>
                    <div class="fw-semibold text-center">
                        Price:- {{data.price}}
                    </div>
                    <div class="product-rating">
                        <div class="d-flex flex-row">
                            <div class="text-warning text-centers mb-1 me-2">
                                <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                            </div>
                            <span>289</span>
                        </div>
                    </div>
                    <div class="product-footer mt-1">
                        <button type="button" class="btn btn-primary">Add to Cart</button>
                    </div>

                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>
<!-- <owl-carousel-o [options]="customOptions">
    <div class="">
        <div carouselSlide>
            <div class="" *ngFor="let data of productdetails">
                <div class="card shadow p-3 mb-5 bg-body rounded  " style="width: 18rem;">
                    <img src="{{imgeurl + data.productImage[0]}}" alt="image 1" class="product-img ">
                    <a></a>
                    <div class="card-body">
                        <div class="product-details p-2 m-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mt-0 mb-0">{{data.catogory}}</h5>

                                <p>{{data.productInfo}}</p>
                            </div>
                            <div class="fw-semibold text-center">
                                Price:- {{data.price}}
                            </div>
                        </div>
                        <div class="product-rating">
                            <div class="d-flex flex-row">
                                <div class="text-warning text-centers mb-1 me-2">
                                    <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                    <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                    <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                    <i class="fa fa-star" style="width: 25px; font-size:x-large"></i>
                                </div>
                                <span>289</span>
                            </div>
                        </div>
                        <div class="product-footer mt-1">
                            <button type="button" class="btn btn-primary">Add to Cart</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</owl-carousel-o> -->